@{
    ViewData["Title"] = "ResetPassword";
}
@model ForgetPasswordViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-6 offset-md-3">

<div class="card mt-4">
    <div class="card-header">
        Şifremi Unuttum!
    </div>
    <div class="card-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-info" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
        <h5 class="card-title">Şifre yenileme linki email adresinize gönderilecektir.</h5>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>

            </div>
        </div>
    </div>
</div>

