
@{
    ViewData["Title"] = "UserEdit";
}

@model UserEditViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Bilgi Güncelleme</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

        <form asp-controller="Member" asp-action="UserEdit" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="mb-3">
                <label for="Phone" class="col-md-4 col-form-label" asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>

            <div class="mb-3">
                <label for="BirthDate" class="col-md-4 col-form-label" asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control">
                <span class="text-danger" asp-validation-for="BirthDate"></span>
            </div>

            <div class="mb-3">
                <label for="City" class="col-md-4 col-form-label" asp-for="City"></label>
                <input asp-for="City" class="form-control">
                <span class="text-danger" asp-validation-for="City"></span>
            </div>

            <div class="mb-3">
                <label for="Gender" class="col-md-4 col-form-label" asp-for="Gender"></label>
                <select class="form-control" asp-for="Gender" asp-items="ViewBag.genderList">
                    <option value="">Cinsiyet Seçiniz</option>
                </select>
                <span class="text-danger" asp-validation-for="Gender"></span>
            </div>

            <div class="mb-3">
                <label for="Picture" class="col-md-4 col-form-label" asp-for="Picture"></label>
               <input class="form-control" type="file" asp-for="Picture" />
                <span class="text-danger" asp-validation-for="Picture"></span>
            </div>

            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </div>
</div>

